<section>
  <body>
    <div class="joinUs">
    <h1>Join our Community</h1>
    <h2>30-day, hassle free money back <br> guarantee</h2>
    <p>
      Gain access to our full library of tutorials<br>along with expert code reviews.
      Perfect for<br>any developers who are serious about <br>honing their skills.
    </p>
  </div>
  <div class="subscription">
      <h1>Monthly Subscription</h1>
      <h3><b>$29</b>per month</h3>
      <p>Full access for less than $1 a day</p>
      <input class="box" type="button" value="Sign Up">
    </div>
    <div class="whyUs">
      <h1>Why us</h1>
      <p>Tutorials by industry experts</p>
      <p>Peer & expert code review</p>
      <p>Coding exercises</p>
      <p>Access to our GitHub repos</p>
      <p>Community Forum</p>
      <p>Flashcard decks</p>
      <p>New videos every week</p>
    </div>
  </body>
</section>
